# Exemple d'environnement pour l'API.

POSTGRES_DB=monaidecyber
POSTGRES_USER=monaidecyber
POSTGRES_PASSWORD=change-moi
POSTGRES_HOST=db
POSTGRES_PORT=5432

URL_SERVEUR_BASE_DONNEES=postgres://postgres:postgres@db:5432/postgres
URL_JOURNALISATION_BASE_DONNEES=

URL_MAC=http://localhost:8081
URL_AIDE_MAC=
URL_API_RECHERCHE_ENTREPRISE=
URL_MSC=

PRO_CONNECT_URL_BASE=
PRO_CONNECT_CLIENT_ID=
PRO_CONNECT_CLIENT_SECRET=

MAC_CSP=
AVEC_PROTECTION_CSRF=true
RESEAU_TRUST_PROXY=1

SECRET_COOKIE=change-moi
CLEF_SECRETE_SIGNATURE_JETONS_SESSIONS=change-moi
CLEF_SECRETE_CHIFFREMENT=change-moi-avec-une-clef-de-32-caracteres

GENERATION_PDF_URL_DU_SERVICE=ws://browserless:3000
GENERATION_PDF_TOKEN_DU_SERVICE=aaaa
PUPPETEER_SKIP_DOWNLOAD=true