div
    p
        | Lorsqu’un outil d’IA traite des données personnelles, les risques augmentent : perte de contrôle sur les données,
        | manque d’information des personnes, difficulté d’exercice des droits, biais, erreurs ou décisions automatisées
        | mal maîtrisées.
