div
    p
        | Les nouveaux arrivants prennent rapidement leurs habitudes numériques. Sans sensibilisation dès le départ,
        | ils peuvent utiliser de mauvais outils, partager trop largement des fichiers ou ne pas savoir réagir face
        | à une demande RGPD.
