div
    | La mise en place d’une charte informatique permet de responsabiliser davantage les utilisateurs face au risque
    | cyber, de garantir la connaissance des bonnes pratiques exigées par l’entité et de les responsabiliser face à leurs
    | propres usages des outils numériques. Elle participe à la sensibilisation/formation des utilisateurs.
