div
    h5 Délai de réponse RGPD
    div
        | En principe, l'organisme doit répondre à une demande RGPD dans un délai d'un mois.
    div
        | Ce délai peut être prolongé dans certains cas complexes, mais la personne doit être informée de cette prolongation.
    div
        | La CNIL indique que le responsable du fichier dispose d'un délai maximal d'un mois à compter de la réception de la demande, avec possibilité de prolongation selon les cas.
