div
    h5 Demande d'exercice de droits
    div
        | Une demande d'exercice de droits est une demande faite par une personne concernant ses données personnelles.
    div
        | Elle peut demander à accéder à ses données, les corriger, les supprimer, s'opposer à leur utilisation, limiter leur traitement ou récupérer ses données.
