div
    h5 Donnée personnelle
    div
        | Une donnée personnelle est toute information permettant d'identifier directement ou indirectement une personne physique.
    div
        | Exemples : nom, prénom, adresse mail, numéro de téléphone, adresse IP, identifiant client, photo, voix, données RH, données de localisation.
    div
        | La CNIL définit une donnée personnelle comme toute information se rapportant à une personne physique identifiée ou identifiable.
