div
    h5 Point de contact RGPD
    div
        | Un point de contact RGPD est un moyen clairement identifié pour poser une question ou signaler un problème lié aux données personnelles.
    div
        | Cela peut être une personne référente, une adresse mail dédiée, un formulaire interne ou un canal dans un outil de ticketing.
