div
    h5 RGPD
    div
        | Le règlement général sur la protection des données, ou RGPD, est le texte européen de référence sur la protection des données personnelles. Il impose aux organismes de collecter, utiliser, conserver et sécuriser les données personnelles de manière transparente, limitée et justifiée.
