div
    p
        | Connaître le DPO/DPD est utile, mais une adresse ou un canal dédié évite les pertes d’information, facilite
        | le suivi et permet de traiter les demandes même en cas d’absence.
