div
    p
        | Avoir un référent est déjà un bon point, mais si cette mission est ajoutée à d’autres fonctions sans temps,
        | moyens ou cadre clair, elle risque d’être peu efficace. Il faut aussi vérifier qu’il n’existe pas de conflit
        | d’intérêts, par exemple si la personne décide elle-même des traitements qu’elle doit contrôler.
