div
    ul
        li Créer une adresse générique : rgpd@, dpo@ ou donneespersonnelles@.
        li Indiquer le contact dans l’intranet, le livret d’accueil et les procédures.
        li Présenter ce contact lors de l’onboarding.
        li Faire un rappel annuel aux équipes.
