div
    ul
        li Créer une adresse mail générique ou un formulaire interne.
        li Rediriger les demandes vers le DPO/DPD ou référent.
        li Prévoir une solution de remplacement en cas d’absence.
        li Conserver une trace des demandes importantes.
