div
    p
        | Sans registre, une demande peut être oubliée ou traitée sans preuve. En cas de plainte, l’entreprise aura du mal
        | à démontrer qu’elle a répondu correctement et dans les délais.
