div
    ul
        li Inviter systématiquement le DPO/DPD ou référent RGPD aux réunions concernées.
        li Lui permettre de présenter les risques, alertes et besoins.
        li Intégrer ses recommandations dans le plan d’action.
        li Documenter les décisions prises.
