div
    p
        | Une mission non formalisée dépend trop de la bonne volonté des personnes. En cas de changement de poste,
        | d’absence ou de contrôle, il devient difficile de prouver qui est responsable de quoi.
