div
    | Une cyberattaque peut être à l’origine d’une véritable crise d’ordre générale au sein d’une 
    | entité, on parle alors de crise d’origine cyber. Les victimes d’une cyberattaque se retrouvent 
    | souvent déstabilisées, sidérées et en panique, ne sachant plus vers qui se retourner ni qui contacter 
    | pour être accompagné et avoir les bons réflexes afin de bien réagir rapidement et limiter les impacts sur l’entité.
