div
    | Il s’avère que des bugs et autres aléas informatiques arrivent souvent lors d’opérations de sauvegarde. Il convient
    | donc de s’assurer que le jeu de sauvegarde hors-ligne est bien fonctionnel pour garantir qu’il sera exploitable
    | le moment venu (et particulièrement après un incident de sécurité majeur de type attaque par rançongiciel).
